click
colorama
Flask
Flask-Admin
Flask-Login
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
pandas
python-dateutil
pytz
regex
scikit-learn
scipy
six
sklearn
SQLAlchemy
threadpoolctl
tqdm
Werkzeug
WTForms
