/* css for home.html page and myvideos.html */

body {
    background-color: rgb(10, 0, 22);
    color: White;
}

/* navigation bar start  */
/* navigation bar start  */
.navbar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: rgb(206, 0, 0);
}


/* search box  start  */
.navbar input {
    padding: 8px;
    width: 50%;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid rgb(163, 3, 3);

}

.navbar input:focus {
    outline: none;

}

/* search box  end  */

.navbarR {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: end;
}

.navbarR a {
    padding: 4px;
}

/* navigation bar end  */



/* content start   */
.content_main {
    width: 100%;
}

.content {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

/* movie show  */
.movie {
    padding: 10px;
    text-align: center;

}

.movie img {
    width: 220px;
    height: 320px;

}

.w3-modal {
    display: none;

}

.w3-container {
    background-color: rgb(28, 22, 34);
    color: white;
}

.w3-modal img {
    width: 400px;
    height: 600px;
}

.imgagediv {
    padding: 20px 10px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.imgagediv>div {
    padding: 10px;

}

.w3-tooltip {
    cursor: pointer;
}

/* movie show  */