<!-- home page where Recomodation is shown html file   -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFlix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet"
        href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>
    <div class="content_main">

        <!-- navigation bar  -->
        <div class="navbar">
            <h2>NFlix</h2>
            <input class="search" type="text" placeholder="search">
            <h4>{{username}}</h4>
        </div>
        <div class="navbarR">
            <a href="/yourvideos">Your Videos</a>
            <a href="/logout">Logout</a>
        </div>
        <!-- navigation bar  -->


        <!-- content Recomodation -->
        <h2>Recomodation</h2>

        <div class="content">
            {% for movie in movies %}
            <div class="movies">

                <div onclick="document.getElementById('{{movie['index']}}').style.display='block'"
                    id="movie{{movie['index']}}" class="movie">
                    <img src="{{movie.Poster_Url}}" alt="">
                    <h4>{{movie.Title}}</h4>

                </div>

                <div id="{{movie['index']}}" class="w3-modal">
                    <div class="w3-modal-content w3-card-4">
                        <header class="w3-container w3-red">
                            <span onclick="document.getElementById('{{movie['index']}}').style.display='none'"
                                class="w3-button w3-large w3-display-topright">&times;</span>
                            <h2>{{movie.Title}}</h2>
                        </header>
                        <div class="w3-container">
                            <div class="imgagediv">
                                <img src="{{movie.Poster_Url}}">
                                <div>
                                    <p> <b>Release Date</b> {{movie.Release_Date}}</p>
                                    <p> <b>Popularity</b> {{movie.Popularity}}</p>
                                    <p> <b>Tagline</b> {{movie.tagline}}</p>
                                    <p> <b>Cast</b> {{movie.cast}}</p>
                                    <p> <b>Language</b> {{movie.Original_Language}}</p>
                                    <p> <b>Genre</b> {{movie.Genre}}</p>
                                    <p> <b>Overview</b> {{movie.Overview}}</p>
                                </div>
                                <div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/l/{{movie['index']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">like</span>
                                        <span class="material-symbols-outlined">
                                            thumb_up
                                        </span>
                                    </div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/u/{{movie['index']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">dislike</span>
                                        <span class="material-symbols-outlined">
                                            thumb_down
                                        </span>
                                    </div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/w/{{movie['index']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">watched</span>
                                        <span class="material-symbols-outlined">
                                            play_circle
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <footer class="w3-container w3-red">
                            <p>Movies Recomodation System</p>
                        </footer>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>










    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            $('.movies').each(function () {
                $(this).attr('data-search-term', $(this).text().toLowerCase());
            });

            $('.search').on('keyup', function () {

                var searchTerm = $(this).val().toLowerCase();

                $('.movies').each(function () {

                    if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 ||
                        searchTerm.length < 1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }

                });

            });

        });


        function myRedirect(myurl1) {
            location.href = myurl1;
        }
    </script>
</body>

</html>