<!-- home page where Recomodation is shown html file   -->
{% extends "layout.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
   
{% endblock %}


        <!-- content Recomodation -->
{% block body %}

        <h2 class="content-title">Recomodation</h2>

        <div class="content">
            {% for movie in movies %}
            <div class="movies">

                <div onclick="document.getElementById('{{movie['index']}}').style.display='block'"
                    id="movie{{movie['index']}}" class="movie">
                    <img src="{{movie.Poster_Url}}" alt="">
                    <h4>{{movie.Title}}</h4>

                </div>

                <div id="{{movie['index']}}" class="w3-modal">
                    <div class="w3-modal-content w3-card-4">
                        <header class="w3-container w3-red">
                            <span onclick="document.getElementById('{{movie['index']}}').style.display='none'"
                                class="w3-button w3-large w3-display-topright">&times;</span>
                            <h2>{{movie.Title}}</h2>
                        </header>
                        <div class="w3-container">
                            <div class="imgagediv">
                                <img src="{{movie.Poster_Url}}">
                                <div>
                                    <p> <b>Release Date</b> {{movie.Release_Date}}</p>
                                    <p> <b>Popularity</b> {{movie.Popularity}}</p>
                                    <p> <b>Tagline</b> {{movie.tagline}}</p>
                                    <p> <b>Cast</b> {{movie.cast}}</p>
                                    <p> <b>Language</b> {{movie.Original_Language}}</p>
                                    <p> <b>Genre</b> {{movie.Genre}}</p>
                                    <p> <b>Overview</b> {{movie.Overview}}</p>
                                </div>
                                <div>
                                    <div class="w3-tooltip">
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">like</span>
                                        <span style="color:white;"  onclick='rate("/rate/l/{{movie['index']}}","like{{movie['index']}}")' id="like{{movie['index']}}" class="material-symbols-outlined">
                                            thumb_up
                                        </span>
                                    </div>
                                    <div class="w3-tooltip">
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">dislike</span>
                                        <span style="color:white;"  onclick='rate("/rate/u/{{movie['index']}}","unlike{{movie['index']}}")' id="unlike{{movie['index']}}" class="material-symbols-outlined">
                                            thumb_down
                                        </span>
                                    </div>
                                    <div class="w3-tooltip">
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">watched</span>
                                        <span style="color:white;"  onclick='rate("/rate/w/{{movie['index']}}","watch{{movie['index']}}")' id="watch{{movie['index']}}" class="material-symbols-outlined">
                                            play_circle
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <footer class="w3-container w3-red">
                            <p>Movies Recomodation System</p>
                        </footer>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
