<!-- home page where Recomodation is shown html file   -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFlix</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">

</head>

<body>
    <div class="content_main">
        <!-- navigation bar  -->
        <div class="navbar">
            <div class="nav-upper">
                <h2>NFlix</h2>
                <input class="search" type="text" placeholder="search">
                <div class="navbarR">
                    
                    <button  id="username" class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">{{username}}</button>
                    
                    <div class="offcanvas offcanvas-end" tabsno="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasRightLabel">{{username}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <a id="offcanvas-a" href="/">Home</a>
                            <a id="offcanvas-a" href="/yourvideos">Watched</a>
                            <a id="offcanvas-a" href="/likesdislike">Like/Dislike</a>
                            <a id="offcanvas-a" href="/settings">Settings</a>
                            <a id="offcanvas-a" href="/more">More</a>
                            <a id="offcanvas-a" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-bottom">

                    <!-- Example split danger button -->

                <button type="button" class="btn btn-danger">Home</button>
                <button type="button" class="btn btn-danger">Most Popular</button>

                
                                <!-- Example split danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-danger">Genre</button>
                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Adventure</a></li>
                        <li><a class="dropdown-item" href="#">Animated</a></li>
                        <li><a class="dropdown-item" href="#">Comedy</a></li>
                        <li><a class="dropdown-item" href="#">Crime</a></li>
                        <li><a class="dropdown-item" href="#">Fantasy</a></li>
                        <li><a class="dropdown-item" href="#">Horror</a></li>
                        <li><a class="dropdown-item" href="#">Romance</a></li>
                        <li><a class="dropdown-item" href="#">Sci-fi</a></li>
                    </ul>
                </div>
                <!-- Example split danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-danger">Year</button>
                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">2022</a></li>
                            <li><a class="dropdown-item" href="#">2021</a></li>
                            <li><a class="dropdown-item" href="#">2020</a></li>
                            <li><a class="dropdown-item" href="#">2010-2015</a></li>
                            <li><a class="dropdown-item" href="#">2005-2010</a></li>
                            <li><a class="dropdown-item" href="#">2000-2005</a></li>
                            <li><a class="dropdown-item" href="#">1990-2000</a></li>
                            <li><a class="dropdown-item" href="#">1980-1990</a></li>
                            <li><a class="dropdown-item" href="#">1970-1980</a></li>
                            <li><a class="dropdown-item" href="#">1970-1980</a></li>
                            <li><a class="dropdown-item" href="#">1960-1970</a></li>
                     
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">Language</button>
                        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">Hindi</a></li>
                            <li><a class="dropdown-item" href="#">Language1</a></li>
                            <li><a class="dropdown-item" href="#">Language2</a></li>
                            <li><a class="dropdown-item" href="#">Language3</a></li>
                            <li><a class="dropdown-item" href="#">Language4</a></li>
                        </ul>
                    </div>
                    <!-- Example split danger button -->
                    <button type="button" class="btn btn-danger">Kids</button>
                    <button type="button" class="btn btn-danger">Bollywood</button>

  
            </div> 
        </div>


        <!-- navigation bar  -->


        <!-- content Recomodation -->

        <h2 class="content-title">Liked</h2>
        <div class="content">
            {% for movie in movies %}
            {% if movie.type=="l" %}
            <div class="movies">

                <div onclick="document.getElementById('{{movie['sno']}}').style.display='block'"
                    id="movie{{movie['sno']}}" class="movie">
                    <img src="{{movie.Poster_Url}}" alt="">
                    <h4>{{movie.name}}</h4>

                </div>

                <div id="{{movie['sno']}}" class="w3-modal">
                    <div class="w3-modal-content w3-card-4">
                        <header class="w3-container w3-red">
                            <span onclick="document.getElementById('{{movie['sno']}}').style.display='none'"
                                class="w3-button w3-large w3-display-topright">&times;</span>
                            <h2>{{movie.name}}</h2>
                        </header>
                        <div class="w3-container">
                            <div class="imgagediv">
                                <img src="{{movie.Poster_Url}}">
                                <div>
                                    <p> <b>Release Date</b> {{movie.Release_Date}}</p>
                                    <p> <b>Popularity</b> {{movie.Popularity}}</p>
                                    <p> <b>Vote Count</b> {{movie.Vote_Count}}</p>
                                    <p> <b>Vote Average</b> {{movie.Vote_Average}}</p>
                                    <p> <b>Language</b> {{movie.Original_Language}}</p>
                                    <p> <b>Genre</b> {{movie.Genre}}</p>
                                    <p> <b>Overview</b> {{movie.Overview}}</p>
                                </div>
                                <div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/l/{{movie['sno']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">like</span>
                                        <span class="material-symbols-outlined">
                                            thumb_up
                                        </span>
                                    </div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/u/{{movie['sno']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">dislike</span>
                                        <span class="material-symbols-outlined">
                                            thumb_down
                                        </span>
                                    </div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/w/{{movie['sno']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">watched</span>
                                        <span class="material-symbols-outlined">
                                            play_circle
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <footer class="w3-container w3-red">
                            <p>Movies Recomodation System</p>
                        </footer>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <h2 class="content-title">UnLiked</h2>
        <div class="content">
            {% for movie in movies %}
            {% if movie.type=="u" %}
            <div class="movies">

                <div onclick="document.getElementById('{{movie['sno']}}').style.display='block'"
                    id="movie{{movie['sno']}}" class="movie">
                    <img src="{{movie.Poster_Url}}" alt="">
                    <h4>{{movie.name}}</h4>

                </div>

                <div id="{{movie['sno']}}" class="w3-modal">
                    <div class="w3-modal-content w3-card-4">
                        <header class="w3-container w3-red">
                            <span onclick="document.getElementById('{{movie['sno']}}').style.display='none'"
                                class="w3-button w3-large w3-display-topright">&times;</span>
                            <h2>{{movie.name}}</h2>
                        </header>
                        <div class="w3-container">
                            <div class="imgagediv">
                                <img src="{{movie.Poster_Url}}">
                                <div>
                                    <p> <b>Release Date</b> {{movie.Release_Date}}</p>
                                    <p> <b>Popularity</b> {{movie.Popularity}}</p>
                                    <p> <b>Vote Count</b> {{movie.Vote_Count}}</p>
                                    <p> <b>Vote Average</b> {{movie.Vote_Average}}</p>
                                    <p> <b>Language</b> {{movie.Original_Language}}</p>
                                    <p> <b>Genre</b> {{movie.Genre}}</p>
                                    <p> <b>Overview</b> {{movie.Overview}}</p>
                                </div>
                                <div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/l/{{movie['sno']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">like</span>
                                        <span class="material-symbols-outlined">
                                            thumb_up
                                        </span>
                                    </div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/u/{{movie['sno']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">dislike</span>
                                        <span class="material-symbols-outlined">
                                            thumb_down
                                        </span>
                                    </div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/w/{{movie['sno']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">watched</span>
                                        <span class="material-symbols-outlined">
                                            play_circle
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <footer class="w3-container w3-red">
                            <p>Movies Recomodation System</p>
                        </footer>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <h2 class="content-title">Watched</h2>
        <div class="content">
            {% for movie in movies %}
            {% if movie.type=="w" %}
            <div class="movies">

                <div onclick="document.getElementById('{{movie['sno']}}').style.display='block'"
                    id="movie{{movie['sno']}}" class="movie">
                    <img src="{{movie.Poster_Url}}" alt="">
                    <h4>{{movie.name}}</h4>

                </div>

                <div id="{{movie['sno']}}" class="w3-modal">
                    <div class="w3-modal-content w3-card-4">
                        <header class="w3-container w3-red">
                            <span onclick="document.getElementById('{{movie['sno']}}').style.display='none'"
                                class="w3-button w3-large w3-display-topright">&times;</span>
                            <h2>{{movie.name}}</h2>
                        </header>
                        <div class="w3-container">
                            <div class="imgagediv">
                                <img src="{{movie.Poster_Url}}">
                                <div>
                                    <p> <b>Release Date</b> {{movie.Release_Date}}</p>
                                    <p> <b>Popularity</b> {{movie.Popularity}}</p>
                                    <p> <b>Vote Count</b> {{movie.Vote_Count}}</p>
                                    <p> <b>Vote Average</b> {{movie.Vote_Average}}</p>
                                    <p> <b>Language</b> {{movie.Original_Language}}</p>
                                    <p> <b>Genre</b> {{movie.Genre}}</p>
                                    <p> <b>Overview</b> {{movie.Overview}}</p>
                                </div>
                                <div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/l/{{movie['sno']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">like</span>
                                        <span class="material-symbols-outlined">
                                            thumb_up
                                        </span>
                                    </div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/u/{{movie['sno']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">dislike</span>
                                        <span class="material-symbols-outlined">
                                            thumb_down
                                        </span>
                                    </div>
                                    <div class="w3-tooltip" onclick='myRedirect("/rate/w/{{movie['sno']}}")'>
                                        <span style="position:absolute;left:30px;bottom:25px"
                                            class="w3-text w3-tag">watched</span>
                                        <span class="material-symbols-outlined">
                                            play_circle
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <footer class="w3-container w3-red">
                            <p>Movies Recomodation System</p>
                        </footer>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>










    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    
    
        <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
    
                $('.movies').each(function () {
                    $(this).attr('data-search-term', $(this).text().toLowerCase());
                });
    
                $('.search').on('keyup', function () {
    
                    var searchTerm = $(this).val().toLowerCase();
    
                    $('.movies').each(function () {
    
                        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 ||
                            searchTerm.length < 1) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
    
                    });
    
                });
    
            });
    
    
            function myRedirect(myurl1) {
                location.href = myurl1;
            }
        </script>
</body>

</html>